<section class="section summary-section">
<h2 class="section-title"><i class="fa fa-user"></i>Дополнительная информация</h2>
<div class="summary">
    Ежедневно совершенствую свои навыки в разработке iOS приложений.<p> 
    Читаю и пробую на практике идеи и все новое из интернет-источников:<p>
    - <a href="https://www.raywenderlich.com">raywenderlich</a><p>
	- <a href="https://habrahabr.ru">habrahabr</a><p>
	- <a href="http://mbltdev.ru">mbltdev</a><p>
	- <a href="http://cocoadevelopers.club">cocoadevelopers.club</a><p>
	
	<hr>
	
	Смотрю и прорабатываю обучающие видео и курсы:<p> 
	- <a href="https://developer.apple.com/wwdc/">WWDC 14, 15, 16</a><p>
	- <a href="http://cs193p.stanford.edu">Stanford iOS Developing</a><p>
	- <a href="http://gurucrafter.com">iOSDevCourse</a><p>
	- CocoaHeads Moscow<p>
	
	<hr>

	Хочу решать реальные боевые задачи.<p>
	Открыт для новых знакомств и общения.<p>
	Нравится экосистема Apple.<p>
	Интересуюсь развитием языка Swift с его server-side решениями. <p>
	Считаю что будущее за сервисами с узконаправленным профилем. Есть огромное желание в разработке таких сервисов.<p>
	
	<hr>

	Другие IT увлечения:<p>
	Machine Learning, Deep Learning:<p>
	 - читаю тематические статьи.<p>
	 - решал задачу классификации рукописных цифр с помощью Keras. (по набору данных MNIST)<p>
	RoR, Java, Node.JS - пробовал примитивную backend разработку.<p>

	<hr>
	
	Хобби:<p>
	- Спорт: Бегаю и тренируюсь с Nike+ Training.<p>
	- Музыка: 3 года играл на электрогитаре в музыкальной группе.<p>
</div><!--//summary-->
</section><!--//section-->