<section class="section experiences-section">
                <h2 class="section-title"><i class="fa fa-briefcase"></i>Опыт работы - учебные проекты</h2>
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Курсы валют</h3>
                            <div class="time">2015 - Present</div>
                        </div><!--//upper-row-->
                        <div class="company">Swift</div>
                    </div><!--//meta-->
                    <div class="details">    
                    <p>                
                        - код: <a href="https://goo.gl/8Qnt5x">Bitbucket</a><p>
                        - что использовал: API CBR и MOEX, Alamofire, SWXMLHash, JSON.<p>
                        - что делает: Отображает на экране текущую валюту + есть виджет.<p>
                        - превью: <a href="https://youtu.be/VMVkXWH0m8U">YouTube</a><p>
                    </div><!--//details-->
                </div><!--//item-->
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Firebase</h3>
                        </div><!--//upper-row-->
                        <div class="company">Swift</div>
                    </div><!--//meta-->
                    <div class="details"> 
                    <p>                   
                        - код: <a href="https://goo.gl/sPwvCH">GitHub</a><p>
                        - что использовал: BaaS Firebase, Firebase SDK, GoogleSignIn.<p>
                        - что делает: создает объекты, отображает в таблице.<p>
                        - превью: <a href="https://youtu.be/VJqCllB9xtQ">YouTube</a><p>
                    </div><!--//details-->
                </div><!--//item-->

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Parse</h3>
                        </div><!--//upper-row-->
                        <div class="company">Swift</div>
                    </div><!--//meta-->
                    <div class="details"> 
                    <p>                   
                        - код: <a href="https://goo.gl/GpiFnS">GitHub</a><p>
                        - что использовал: ParseUI, Docker, MongoDB, BaaS Parse. (in docker)<p>
                        - что делает: Создает объекты, отображает в коллекции (UICollectionView)<p>
                    </div><!--//details-->
                </div><!--//item-->

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Приложение погоды</h3>
                        </div><!--//upper-row-->
                        <div class="company">Swift</div>
                    </div><!--//meta-->
                    <div class="details"> 
                    <p>                   
                        - код: <a href="https://goo.gl/LfHBOS">GitHub</a><p>
                        - что использовал: API OpenWeatherMap, Alamofire, MBProgressHUD, JSON.<p>
                        - что делает: показывает погоду по местоположению устройства.<p>
                        - превью: <a href="https://youtu.be/vQTU-8T-p3g">YouTube</a><p>
                    </div><!--//details-->
                </div><!--//item-->

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Simple VK App</h3>
                        </div><!--//upper-row-->
                        <div class="company">Objective-C</div>
                    </div><!--//meta-->
                    <div class="details"> 
                    <p>                   
                        - код: <a href="https://goo.gl/66ervR">GitHub</a><p>
                        - что использовал: iOS SDK, API VK.<p>
                        - что делает: малая часть функционала vk.com.<p>
                        - превью: <a href="https://youtu.be/xOBJm97kqg8">YouTube</a><p>
                    </div><!--//details-->
                </div><!--//item-->

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Simple Meeting App</h3>
                        </div><!--//upper-row-->
                        <div class="company">Objective-C</div>
                    </div><!--//meta-->
                    <div class="details"> 
                    <p>                   
                        - код: <a href="https://goo.gl/b9iX3C">GitHub</a><p>
                        - что использовал: MapKit, CoreLocation, CLPlacemark, MKCircle, MKPolyline.<p>
                        - что делает: генерирует и отображает фейковые данные на карте. Создает MapAnnotation в центре экрана устройства. Прокладывает маршрут (MKDirectionsRequest) от фейковых координат до центра.<p>
                        - превью: <a href="https://youtu.be/4-0_8OM0oPs">YouTube</a><p>
                    </div><!--//details-->
                </div><!--//item-->

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Калькулятор</h3>
                        </div><!--//upper-row-->
                        <div class="company">Objective-C</div>
                    </div><!--//meta-->
                    <div class="details"> 
                    <p>                                           
                        - код: <a href="https://goo.gl/uDazDB">GitHub</a><p>
                        - что использовал: iOS SDK.<p>
                        - что делает: частичный функционал калькулятора.<p>
                        - превью: <a href="https://youtu.be/89F0nSU9xeA">YouTube</a><p>                        
                    </div><!--//details-->
                </div><!--//item-->        

                <div class="p2">                            
                    <a href="https://github.com/oltv00">GitHub - больше кода.</a><p>
                    <a href="https://goo.gl/Nri5jL">YouTube - больше учебных проектов.</a><p>    
                </div>
            </section><!--//section-->