<section class="section projects-section">
                <h2 class="section-title"><i class="fa fa-archive"></i>Повышение квалификации, курсы</h2>
                                
                <div class="item">
                    <span class="project-title">2015 - Objective - C 2.0 для Mac OS X/iOS</span><p>
                    <span class="project-tagline">Центр «Специалист» при МГТУ им.Н.Э.Баумана, Разработка мобильных приложений</span>                
                </div><!--//item-->

                <div class="item">
                    <span class="project-title">2015 - Основы создания мобильных приложений (Objective-C) </span><p>
                    <span class="project-tagline">Центр «Специалист» при МГТУ им.Н.Э.Баумана, Разработка мобильных приложений</span>                
                </div><!--//item-->

                <div class="item">
                    <span class="project-title">2015 - Разработка сложных приложений и сервисов (Objective-C)</span><p>
                    <span class="project-tagline">Центр «Специалист» при МГТУ им.Н.Э.Баумана, Разработка мобильных приложений</span>                
                </div><!--//item-->

                <div class="item">
                    <span class="project-title">2015 - Разработка графических и игровых приложений (Objective-C) </span><p>
                    <span class="project-tagline">Центр «Специалист» при МГТУ им.Н.Э.Баумана, Разработка мобильных приложений</span>                
                </div><!--//item-->

                <div class="item">
                    <span class="project-title">2015 - Продвижение мобильных приложений </span><p>
                    <span class="project-tagline">Центр «Специалист» при МГТУ им.Н.Э.Баумана, Разработка мобильных приложений</span>      
                </div><!--//item-->
                
            </section><!--//section-->